@{
    ViewData["Title"] = "Create Donation";
}

<h2>Make a Donation</h2>
<form>
    <div class="form-group">
        <label>Item</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-warning">Donate</button>
</form>
